#canvas-container {
  position: absolute;
  width: 95%;
  height: 440px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 12px;
}

#network-canvas {
  background: rgb(33, 33, 33);
  width: 100%;
  height: 440px;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 5px;
}

@keyframes networkPulse {
  0% {
    border: 4px solid white;
  }

  50% {
    border: 4px solid transparent;
  }

  100% {
    border: 4px solid white;
  }
}

.network-highlight {
  animation: networkPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}