* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(40, 40, 40);
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

@keyframes pulseButtonColour {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #12a3a8;
    ;
  }

  100% {
    background-color: transparent;
  }
}

.button-next {
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 4px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  animation-name: pulseButtonColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-skip {
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 4px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.finalised-node {
  background: #57a157;
  font-weight: bold;
}

.finalised {
  background: white;
}


@keyframes cellPulse {
  0% {
    background: rgb(253, 204, 96);
  }

  50% {
    background: transparent;
  }

  100% {
    background: rgb(253, 204, 96);
  }
}

.cell-highlight {
  animation: cellPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.non-active {
  pointer-events: none;
}

@keyframes pulseBorderColour {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}

.highlightBorder {
  border: 4px solid transparent;
  animation-name: pulseBorderColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.icon-active {
  pointer-events: all;
}


/*Help container images */

#help-node {
  position: relative;
  width: 160px;
  height: 90px;
  display: block;
  border-radius: 8px;
}

#help-edge {
  position: relative;
  width: 185px;
  height: 90px;
  display: block;
  border-radius: 8px;
}

#help-table {
  position: relative;
  width: 380px;
  height: 250px;
  display: block;
  border-radius: 8px;
  margin: auto;
}

#help-cell {
  position: relative;
  width: 85px;
  height: 55px;
  display: block;
  border-radius: 8px;
}

#help-green-cell {
  position: relative;
  width: 85px;
  height: 55px;
  display: block;
  border-radius: 8px;
}

#help-infinity {
  position: relative;
  width: 85px;
  height: 55px;
  display: block;
  border-radius: 9px;
}

#help-table-flash {
  position: relative;
  width: 380px;
  height: 250px;
  display: block;
  border-radius: 8px;
  margin: auto;
}

#help-graph {
  position: relative;
  width: 300px;
  height: 250px;
  display: block;
  border-radius: 8px;
  margin: auto;
}

#help-solution {
  position: relative;
  width: 380px;
  height: 250px;
  display: block;
  border-radius: 8px;
  margin: auto;
}