#main-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 2000px;
  height: 740px;
  display: none;
  grid-template-areas:
    'header header header header header header'
    'dij_table dij_table dij_table graph graph graph'
    'feedback feedback feedback feedback feedback feedback';
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#main-header-grid {
  grid-area: header;
  height: 50px;
  background: rgb(40, 40, 40);
  position: relative;
}

#header-title-container {
  position: absolute;
  left: 10px;
}

#header-title {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
}

#help {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 100px;
  height: 40px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  transition: all 1s;
  cursor: pointer;
}

#help:hover {
  background: #12a3a8;
}

#interaction-table-grid {
  grid-area: dij_table;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-right-radius: 0;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 0;
  background: rgb(49, 49, 49);
  position: relative;
}

#interaction-table-grid-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 600px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
}

#table-title-string-container {
  background: rgb(40, 40, 40);
  text-align: center;
  width: 100%;
  height: 60px;

}

#table-title-string {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: 10px;
  color: white;
  height: 45px;
  width: 300px;
  margin: auto;
  border-radius: 8px;

}

#interactive-table-container {
  background: rgb(49, 49, 49);
  width: 100%;
  height: 450px;
  text-align: center;
  position: relative;
}

#interactive-table-container-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 432px;
  background: rgba(49, 49, 49, 0.5);
}

#underground-table {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 95%;
  margin: auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid rgb(49, 49, 49);

}

th {
  border: 1px solid rgb(50, 50, 50);
  padding: 5px;
  width: 10px;
  height: 62px;
  background: rgb(0, 174, 239);
}

td,
tr {
  border: 1px solid rgb(50, 50, 50);
  padding: 5px;
  width: 10px;
  height: 62px;
  background: rgb(214, 239, 246);
}

#empty-cell {
  background: rgb(32, 31, 29);
  color: white;
}

#interactive-table-buttons-container {
  background: #12a3a8;
  width: 95%;
  height: 80px;
  position: relative;
  margin: auto;
  border-radius: 8px;
}

#interactive-table-buttons-container-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 80px;
  background: rgba(49, 49, 49, 0.5);
}

#interactive-buttons-reset-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 70px;
  background: rgb(40, 40, 40);
  border-radius: 8px;
}

#reset-button {
  position: absolute;
  left: 20px;
  top: 11px;
  width: 220px;
}

#random-button {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 220px;
}

.custom-button {
  position: relative;
  display: block;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 250px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(40, 40, 40);
  border: 1px solid white;
  margin: auto;
  margin-bottom: 14px;
}

.custom-button:hover {
  background: #12a3a8;
  transition: background-color 2s;
}

#graph-grid {
  grid-area: graph;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  background: rgb(49, 49, 49);
  position: relative;
}

#graph-grid-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 600px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
}

#graph-title-string-container {
  background: rgb(40, 40, 40);
  text-align: center;
  width: 100%;
  height: 60px;
}

#graph-title-string {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: 10px;
  color: white;
}

#graph-container {
  width: 100%;
  height: 450px;
  position: relative;
}

#graph-container-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 450px;
  background: rgba(49, 49, 49, 0.5);
}

.network-name-container {
  position: absolute;
  width: 80%;
  height: 50px;
  top: 11px;
  background: rgba(40, 40, 40, 0.5);
  margin: auto;
  left: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  overflow-y: hidden;
  transition-property: height;
  transition-duration: 2s;
}

#network-name-toggle-container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 11px;
  background: rgba(40, 40, 40, 0.5);
  right: 5px;
  border-radius: 6px;
  width: 35px;
  height: 35px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  position: relative;
  left: 5px;
  top: 1px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
  transform: rotate(45deg) translate(-6px, -5px);
}

.network-name-container-hide {
  height: 0px;
}

#network-name {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  text-align: center;
  color: white;
  position: relative;
  top: 5px;
}

#graph-legend-container {
  background: #12a3a8;
  width: 95%;
  height: 80px;
  position: relative;
  margin: auto;
  border-radius: 8px;
}

#graph-legend-container-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 80px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
}

#graph-legend-inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 70px;
  background: rgb(40, 40, 40);
  border-radius: 8px;
}

#start-node-legend-container {
  display: inline-block;
  width: 100px;
  height: 70px;
  background: rgb(32, 31, 29);
  border-radius: 8px;
  position: absolute;
  left: 0;
  margin: auto;
}

#start-node-legend-text {
  color: white;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: center;
  top: 12px;
  position: relative;
}

#start-node-legend-img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: auto;
  display: block;
  top: 8px
}

#end-node-legend-container {
  display: inline-block;
  width: 100px;
  height: 70px;
  background: rgb(32, 31, 29);
  border-radius: 8px;
  position: absolute;
  left: 120px;
  margin: auto;
}

#end-node-legend-text {
  color: white;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: center;
  top: 12px;
  position: relative;
}

#end-node-legend-img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: auto;
  display: block;
  top: 8px
}

#current-node-legend-container {
  display: inline-block;
  width: 100px;
  height: 70px;
  background: rgb(32, 31, 29);
  border-radius: 8px;
  position: absolute;
  right: 120px;
  margin: auto;
}

#current-node-legend-text {
  color: white;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: center;
  top: 12px;
  position: relative;
}

#current-node-legend-img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: auto;
  display: block;
  top: 8px
}

#visited-node-legend-container {
  display: inline-block;
  width: 100px;
  height: 70px;
  background: rgb(32, 31, 29);
  border-radius: 8px;
  position: absolute;
  right: 0;
  margin: auto;
}

#visited-node-legend-text {
  color: white;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: center;
  top: 12px;
  position: relative;
}

#visited-node-legend-img {
  width: 35px;
  height: 35px;
  position: relative;
  margin: auto;
  display: block;
  top: 8px;
}

#solution-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(30, 30, 30);
  border-radius: 6px;
}

#solution-label-list-container {
  top: 30px;
  position: relative;
  background: rgb(30, 30, 30);
  height: 126px;
  width: 550px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

#node-label-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label-item {
  display: inline-block;
  vertical-align: top;
  width: 178px;
  height: 50px;
  background: #ffffff;
  border: 1px solid black;
  margin-top: 8px;
  border-radius: 8px;
  padding: 0;
}

.label-item:hover {
  transition: background-color 1s linear;
  background: rgb(253, 204, 96);
  cursor: pointer;
}

.label-item-text {
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: 10px;
}

#solution-list-container {
  position: relative;
  top: 85px;
  margin: auto;
  width: 550px;
  background: rgb(214, 239, 246);
  height: 202px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 6px;
}

#solution-label-list {
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 23px;
  background: rgb(253, 204, 96);

}

.solution-item {
  background: rgb(214, 239, 246);
  text-align: center;
  background: rgb(0, 174, 239);
}

.solution-item-text {
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  font-size: 23px;
  position: relative;
  left: 10px;
}

#solution-button-container {
  position: relative;
  margin: auto;
  top: 150px;
  width: 550px;
  height: 80px;
  background: rgb(39, 39, 39);
  border-radius: 6px;
}

#solution-back-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  width: 140px;
}

#solution-clear-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
}

#solution-submit-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 140px;
}

#main-feedback-grid {
  grid-area: feedback;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgb(49, 49, 49);
  position: relative;
}

#information {
  text-align: center;
  height: 100%;
  background: #212121;
}

#suggestion {
  display: inline-block;
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
  position: relative;
  top: 25px;
}

#map-container {
  width: 100%;
  height: 600px;
  position: absolute;
  background: rgb(40, 40, 40);
  top: 50px;
  margin: auto;
  left: 0;
  right: 0;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-bottom: none;
  text-align: center;
}

#map-image-container {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#map-image {
  max-width: 100%;
  max-height: 500px;
}

@keyframes londonPulse {
  0% {
    width: 25px;
    height: 25px;
    top: 185px;
    left: 470px;
  }

  50% {
    width: 30px;
    height: 30px;
    top: 182px;
    left: 467px;
  }

  100% {
    width: 25px;
    height: 25px;
    top: 185px;
    left: 470px;
  }
}

#london-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgb(224, 140, 43);
  box-shadow: 1px 1px 20px black;
  border: 4px solid rgb(70, 70, 70);
  z-index: 3;
  border-radius: 100%;
  position: absolute;
  top: 185px;
  left: 470px;
  animation: londonPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#london-popup {
  position: absolute;
  top: 120px;
  left: 408px;
  width: 150px;
  height: 50px;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 2s;
}

#london-icon:hover+#london-popup {
  opacity: 1;
}

#london-popup-text {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
  top: 7px;
}

@keyframes parisPulse {
  0% {
    width: 25px;
    height: 25px;
    top: 290px;
    left: 510px;
  }

  50% {
    width: 30px;
    height: 30px;
    top: 287px;
    left: 507px;
  }

  100% {
    width: 25px;
    height: 25px;
    top: 290px;
    left: 510px;
  }
}

#paris-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgb(28, 136, 60);
  box-shadow: 1px 1px 20px black;
  border: 4px solid rgb(70, 70, 70);
  z-index: 3;
  border-radius: 100%;
  position: absolute;
  top: 290px;
  left: 510px;
  animation: parisPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#paris-popup {
  position: absolute;
  top: 330px;
  left: 450px;
  width: 150px;
  height: 50px;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 2s;
}

#paris-icon:hover+#paris-popup {
  opacity: 1;
}

#paris-popup-text {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
  top: 7px;
}

@keyframes tokyoPulse {
  0% {
    width: 25px;
    height: 25px;
    top: 303px;
    left: 892px;
  }

  50% {
    width: 30px;
    height: 30px;
    top: 300px;
    left: 889px;
  }

  100% {
    width: 25px;
    height: 25px;
    top: 303px;
    left: 892px;
  }
}

#tokyo-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgb(27, 159, 177);
  box-shadow: 1px 1px 20px black;
  border: 4px solid rgb(70, 70, 70);
  z-index: 3;
  border-radius: 100%;
  position: absolute;
  top: 303px;
  left: 892px;
  animation: tokyoPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#tokyo-popup {
  position: absolute;
  top: 240px;
  left: 830px;
  width: 150px;
  height: 50px;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 2s;
}

#tokyo-icon:hover+#tokyo-popup {
  opacity: 1;
}

#tokyo-popup-text {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
  top: 7px;
}

@keyframes delhiPulse {
  0% {
    width: 25px;
    height: 25px;
    top: 220px;
    left: 695px;
  }

  50% {
    width: 30px;
    height: 30px;
    top: 217px;
    left: 692px;
  }

  100% {
    width: 25px;
    height: 25px;
    top: 220px;
    left: 695px;
  }
}

#delhi-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgb(231, 214, 60);
  box-shadow: 1px 1px 20px black;
  border: 4px solid rgb(70, 70, 70);
  z-index: 3;
  border-radius: 100%;
  position: absolute;
  top: 220px;
  left: 695px;
  animation: delhiPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#delhi-popup {
  position: absolute;
  top: 160px;
  left: 634px;
  width: 150px;
  height: 50px;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 2s;
}

#delhi-icon:hover+#delhi-popup {
  opacity: 1;
}

#delhi-popup-text {
  font-size: 30px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
  top: 7px;
}

@keyframes washingtonPulse {
  0% {
    width: 25px;
    height: 25px;
    top: 140px;
    left: 90px;
  }

  50% {
    width: 30px;
    height: 30px;
    top: 137px;
    left: 87px;
  }

  100% {
    width: 25px;
    height: 25px;
    top: 140px;
    left: 90px;
  }
}

#washington-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgb(211, 19, 51);
  box-shadow: 1px 1px 20px black;
  border: 4px solid rgb(70, 70, 70);
  z-index: 3;
  border-radius: 100%;
  position: absolute;
  top: 140px;
  left: 90px;
  animation: washingtonPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#washington-popup {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 160px;
  height: 50px;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 2s;
}

#washington-icon:hover+#washington-popup {
  opacity: 1;
}

#washington-popup-text {
  font-size: 22px;
  font-family: myFontText, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
  top: 12px;
  transform: scale(1, 1.5);

}

/*Responsive to smaller laptops size */
@media only screen and (min-width:1000px) and (max-width: 1350px) {

  #main-container-grid {
    position: relative;
    background: rgb(40, 40, 40);
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 2000px;
    height: 740px;
    display: none;
    grid-template-areas:
      'header header header header header header'
      'graph graph graph graph graph graph'
      'dij_table dij_table dij_table dij_table dij_table dij_table'
      'feedback feedback feedback feedback feedback feedback';
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #graph-grid {
    grid-area: graph;
    height: 395px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #graph-grid-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 395px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }



  #graph-title-string-container {
    background: rgb(40, 40, 40);
    text-align: center;
    width: 100%;
    height: 40px;
  }

  #graph-title-string {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 3px;
    color: white;
  }

  #graph-container {
    width: 100%;
    height: 290px;
    position: relative;
    bottom: 5px;
  }

  #graph-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 290px;
    background: rgba(49, 49, 49, 0.5);
  }

  #canvas-container {
    position: relative;
    top: -4px;
    width: 660px;
    height: 280px;
    margin: auto;
    border-radius: 8px;
  }

  #network-canvas {
    background: rgb(33, 33, 33);
    width: 660px;
    height: 280px;
    border-radius: 0px;
    margin: auto;
    border: 4px solid transparent;
  }

  #graph-legend-container {
    background: #12a3a8;
    width: 95%;
    height: 60px;
    position: relative;
    top: -5px;
    margin: auto;
    border-radius: 8px;
  }

  #graph-legend-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }

  #graph-legend-inner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 50px;
    background: rgb(40, 40, 40);
    border-radius: 8px;
  }

  #start-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin: auto;
  }

  #start-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 5px;
    position: relative;
  }

  #start-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #end-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    left: 120px;
    margin: auto;
  }

  #end-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 5px;
    position: relative;
  }

  #end-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #current-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    right: 120px;
    margin: auto;
  }

  #current-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 6px;
    position: relative;
  }

  #current-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #visited-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    right: 0;
    margin: auto;
  }

  #visited-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 6px;
    position: relative;
  }

  #visited-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px;
  }

  #interaction-table-grid {
    grid-area: dij_table;
    height: 470px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #interaction-table-grid-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 470px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }

  #table-title-string-container {
    background: rgb(40, 40, 40);
    text-align: center;
    width: 100%;
    height: 40px;

  }

  #table-title-string {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 4px;
    color: white;
    height: 45px;
    width: 300px;
    margin: auto;
    border-radius: 8px;

  }

  #interactive-table-container {
    width: 100%;
    height: 360px;
    text-align: center;
    position: relative;
  }

  #underground-table {
    position: absolute;
    left: 0;
    right: 0;
    width: 95%;
    margin: auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: 1px solid rgb(49, 49, 49);
  }

  th {
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
    width: 10px;
    height: 50px;
    background: rgb(0, 174, 239);
  }

  td,
  tr {
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
    width: 10px;
    height: 40px;
    background: rgb(214, 239, 246);
    font-size: 13px;
  }

  #empty-cell {
    background: rgb(32, 31, 29);
    color: white;
  }

  #interactive-table-buttons-container {
    background: #12a3a8;
    width: 95%;
    height: 60px;
    position: relative;
    margin: auto;
    border-radius: 8px;
  }

  #interactive-table-buttons-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60px;
    background: rgba(49, 49, 49, 0.5);
  }

  #interactive-buttons-reset-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 52px;
    background: rgb(40, 40, 40);
    border-radius: 8px;
  }

  #reset-button {
    position: absolute;
    left: 20px;
    top: 6px;
    width: 220px;
    height: 40px;
  }

  #random-button {
    position: absolute;
    right: 20px;
    top: 6px;
    width: 220px;
    height: 40px;
  }

  #solution-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(30, 30, 30);
    border-radius: 6px;
  }

  #solution-label-list-container {
    top: 5px;
    position: relative;
    background: rgb(30, 30, 30);
    height: 110px;
    width: 550px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
  }

  #node-label-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .label-item {
    display: inline-block;
    vertical-align: top;
    width: 178px;
    height: 45px;
    background: #ffffff;
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 8px;
    padding: 0;
  }

  .label-item:hover {
    transition: background-color 1s linear;
    background: rgb(253, 204, 96);
    cursor: pointer;
  }

  .label-item-text {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    position: relative;
    top: 8px;
  }

  #solution-list-container {
    position: relative;
    top: 0px;
    margin: auto;
    width: 550px;
    background: rgb(214, 239, 246);
    height: 202px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 6px;
  }

  #solution-label-list {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    background: rgb(253, 204, 96);

  }

  .solution-item {
    background: rgb(214, 239, 246);
    text-align: center;
    background: rgb(0, 174, 239);
  }

  .solution-item-text {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    position: relative;
    left: 10px;
  }

  #solution-button-container {
    position: relative;
    margin: auto;
    top: 10px;
    width: 550px;
    height: 60px;
    background: rgb(39, 39, 39);
    border-radius: 6px;
  }

  #solution-back-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
    width: 140px;
  }

  #solution-clear-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
  }

  #solution-submit-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 140px;
  }

  #main-feedback-grid {
    grid-area: feedback;
    height: 70px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #information {
    text-align: center;
    height: 100%;
    background: #212121;
  }

  #suggestion {
    display: inline-block;
    font-size: 24px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 15px;
  }

  #map-container {
    width: 100%;
    height: 865px;
    position: absolute;
    background: rgb(40, 40, 40);
    top: 50px;
    margin: auto;
    left: 0;
    right: 0;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-radius: 8px;
    text-align: center;
    min-width: 668px;
  }

  #map-image-container {
    position: absolute;
    width: 650px;
    height: 450px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }

  #map-image {
    max-width: 650px;
    max-height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  }

  @keyframes londonPulseIpad {
    0% {
      width: 20px;
      height: 20px;
      top: 175px;
      left: 295px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 172px;
      left: 292px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 175px;
      left: 295px;
    }
  }

  #london-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 175px;
    left: 295px;
    animation: londonPulseIpad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #london-popup {
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 245px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #london-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes parisPulseIpad {
    0% {
      width: 20px;
      height: 20px;
      top: 250px;
      left: 330px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 247px;
      left: 327px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 250px;
      left: 330px;
    }
  }

  #paris-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 250px;
    left: 330px;
    animation: parisPulseIpad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #paris-popup {
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 278px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #paris-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes tokyoPulseIpad {
    0% {
      width: 20px;
      height: 20px;
      top: 257px;
      left: 578px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 254px;
      left: 575px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 257px;
      left: 578px;
    }
  }

  #tokyo-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 257px;
    left: 578px;
    animation: tokyoPulseIpad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #tokyo-popup {
    cursor: pointer;
    position: absolute;
    top: 205px;
    left: 530px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #tokyo-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes delhiPulseIpad {
    0% {
      width: 20px;
      height: 20px;
      top: 200px;
      left: 445px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 197px;
      left: 442px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 200px;
      left: 445px;
    }
  }

  #delhi-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 200px;
    left: 445px;
    animation: delhiPulseIpad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #delhi-popup {
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 395px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #delhi-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes washingtonPulseIpad {
    0% {
      width: 20px;
      height: 20px;
      top: 150px;
      left: 60px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 147px;
      left: 57px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 150px;
      left: 60px;
    }
  }

  #washington-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 150px;
    left: 60px;
    animation: washingtonPulseIpad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #washington-popup {
    cursor: pointer;
    position: absolute;
    top: 180px;
    left: 0px;
    width: 140px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #washington-popup-text {
    font-size: 17px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 10px;
    transform: scale(1, 1.5);
  }

  .button-next {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 38px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 38px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }
}

/*Responsive to iPad size */
@media only screen and (max-width:1000px) {
  #main-container-grid {
    position: relative;
    background: rgb(40, 40, 40);
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 2000px;
    height: 740px;
    display: none;
    grid-template-areas:
      'header header header header header header'
      'graph graph graph graph graph graph'
      'dij_table dij_table dij_table dij_table dij_table dij_table'
      'feedback feedback feedback feedback feedback feedback';
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #graph-grid {
    grid-area: graph;
    height: 395px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #graph-grid-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 395px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }

  #graph-title-string-container {
    background: rgb(40, 40, 40);
    text-align: center;
    width: 100%;
    height: 40px;
  }

  #graph-title-string {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 3px;
    color: white;
  }

  #graph-container {
    width: 100%;
    height: 290px;
    position: relative;
    bottom: 5px;
  }

  #graph-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 290px;
    background: rgba(49, 49, 49, 0.5);
  }

  #canvas-container {
    position: relative;
    top: 0px;
    width: 660px;
    height: 280px;
    margin: auto;
    border-radius: 8px;
  }

  #network-canvas {
    background: rgb(33, 33, 33);
    width: 660px;
    height: 280px;
    border-radius: 0px;
    margin: auto;
    border: 4px solid transparent;
  }

  #graph-legend-container {
    background: #12a3a8;
    width: 95%;
    height: 60px;
    position: relative;
    top: -5px;
    margin: auto;
    border-radius: 8px;
  }

  #graph-legend-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }

  #graph-legend-inner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 50px;
    background: rgb(40, 40, 40);
    border-radius: 8px;
  }

  #start-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin: auto;
  }

  #start-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 5px;
    position: relative;
  }

  #start-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #end-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    left: 120px;
    margin: auto;
  }

  #end-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 5px;
    position: relative;
  }

  #end-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #current-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    right: 120px;
    margin: auto;
  }

  #current-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 6px;
    position: relative;
  }

  #current-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px
  }

  #visited-node-legend-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: rgb(32, 31, 29);
    border-radius: 8px;
    position: absolute;
    right: 0;
    margin: auto;
  }

  #visited-node-legend-text {
    color: white;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    top: 6px;
    position: relative;
  }

  #visited-node-legend-img {
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    display: block;
    top: 5px;
  }

  #interaction-table-grid {
    grid-area: dij_table;
    height: 470px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #interaction-table-grid-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 470px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
  }

  #table-title-string-container {
    background: rgb(40, 40, 40);
    text-align: center;
    width: 100%;
    height: 40px;

  }

  #table-title-string {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 4px;
    color: white;
    height: 45px;
    width: 300px;
    margin: auto;
    border-radius: 8px;

  }

  #interactive-table-container {
    width: 100%;
    height: 360px;
    text-align: center;
    position: relative;
  }

  #interactive-table-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 360px;
    background: rgba(49, 49, 49, 0.5);
  }

  #underground-table {
    position: absolute;
    left: 0;
    right: 0;
    width: 95%;
    margin: auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: 1px solid rgb(49, 49, 49);
  }

  th {
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
    width: 10px;
    height: 50px;
    background: rgb(0, 174, 239);
  }

  td,
  tr {
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
    width: 10px;
    height: 40px;
    background: rgb(214, 239, 246);
    font-size: 13px;
  }

  #empty-cell {
    background: rgb(32, 31, 29);
    color: white;
  }

  #interactive-table-buttons-container {
    background: #12a3a8;
    width: 95%;
    height: 60px;
    position: relative;
    margin: auto;
    border-radius: 8px;
  }

  #interactive-table-buttons-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60px;
    background: rgba(49, 49, 49, 0.5);
  }

  #interactive-buttons-reset-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 52px;
    background: rgb(40, 40, 40);
    border-radius: 8px;
  }

  #reset-button {
    position: absolute;
    left: 20px;
    top: 6px;
    width: 220px;
    height: 40px;
  }

  #random-button {
    position: absolute;
    right: 20px;
    top: 6px;
    width: 220px;
    height: 40px;
  }

  #solution-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(30, 30, 30);
    border-radius: 6px;
  }

  #solution-label-list-container {
    top: 5px;
    position: relative;
    background: rgb(30, 30, 30);
    height: 110px;
    width: 550px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
  }

  #node-label-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .label-item {
    display: inline-block;
    vertical-align: top;
    width: 178px;
    height: 45px;
    background: #ffffff;
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 8px;
    padding: 0;
  }

  .label-item:hover {
    transition: background-color 1s linear;
    background: rgb(253, 204, 96);
    cursor: pointer;
  }

  .label-item-text {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    position: relative;
    top: 8px;
  }

  #solution-list-container {
    position: relative;
    top: 0px;
    margin: auto;
    width: 550px;
    background: rgb(214, 239, 246);
    height: 202px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 6px;
  }

  #solution-label-list {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    background: rgb(253, 204, 96);

  }

  .solution-item {
    background: rgb(214, 239, 246);
    text-align: center;
    background: rgb(0, 174, 239);
  }

  .solution-item-text {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    position: relative;
    left: 10px;
  }

  #solution-button-container {
    position: relative;
    margin: auto;
    top: 10px;
    width: 550px;
    height: 60px;
    background: rgb(39, 39, 39);
    border-radius: 6px;
  }

  #solution-back-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
    width: 140px;
  }

  #solution-clear-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
  }

  #solution-submit-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 140px;
  }

  #main-feedback-grid {
    grid-area: feedback;
    height: 70px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #information {
    text-align: center;
    height: 100%;
    background: #212121;
  }

  #suggestion {
    display: inline-block;
    font-size: 18px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 16px;
  }

  #map-container {
    width: 100%;
    height: 865px;
    position: absolute;
    background: rgb(40, 40, 40);
    top: 50px;
    margin: auto;
    left: 0;
    right: 0;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-radius: 8px;
    text-align: center;
    min-width: 668px;
  }

  #map-image-container {
    position: absolute;
    width: 650px;
    height: 450px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }

  #map-image {
    max-width: 650px;
    max-height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  }

  @keyframes londonPulseSmaller {
    0% {
      width: 20px;
      height: 20px;
      top: 175px;
      left: 295px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 172px;
      left: 292px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 175px;
      left: 295px;
    }
  }

  #london-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 175px;
    left: 295px;
    animation: londonPulseSmaller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #london-popup {
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 245px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #london-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes parisPulseSmaller {
    0% {
      width: 20px;
      height: 20px;
      top: 250px;
      left: 330px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 247px;
      left: 327px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 250px;
      left: 330px;
    }
  }

  #paris-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 250px;
    left: 330px;
    animation: parisPulseSmaller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #paris-popup {
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 278px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #paris-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes tokyoPulseSmaller {
    0% {
      width: 20px;
      height: 20px;
      top: 257px;
      left: 578px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 254px;
      left: 575px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 257px;
      left: 578px;
    }
  }

  #tokyo-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 257px;
    left: 578px;
    animation: tokyoPulseSmaller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #tokyo-popup {
    cursor: pointer;
    position: absolute;
    top: 205px;
    left: 530px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #tokyo-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes delhiPulseSmaller {
    0% {
      width: 20px;
      height: 20px;
      top: 200px;
      left: 445px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 197px;
      left: 442px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 200px;
      left: 445px;
    }
  }

  #delhi-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 200px;
    left: 445px;
    animation: delhiPulseSmaller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #delhi-popup {
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 395px;
    width: 120px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #delhi-popup-text {
    font-size: 25px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 5px;

  }

  @keyframes washingtonPulseSmaller {
    0% {
      width: 20px;
      height: 20px;
      top: 150px;
      left: 60px;
    }

    50% {
      width: 25px;
      height: 25px;
      top: 147px;
      left: 57px;
    }

    100% {
      width: 20px;
      height: 20px;
      top: 150px;
      left: 60px;
    }
  }

  #washington-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 100%;
    position: absolute;
    top: 150px;
    left: 60px;
    animation: washingtonPulseSmaller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #washington-popup {
    cursor: pointer;
    position: absolute;
    top: 180px;
    left: 0px;
    width: 140px;
    height: 40px;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    opacity: 1;
  }

  #washington-popup-text {
    font-size: 17px;
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    top: 10px;
    transform: scale(1, 1.5);
  }

  .button-next {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 38px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    font-family: myFontText, 'Arial Narrow Bold', sans-serif;
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 38px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

}